

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #27272c;
   --cor-de-link: #c5c5ce;
   /* Lista colores para texto: 
   Azul: #00bbcb
   Morado: #ab79d6
   */
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

    /*Titulos*/

    .menu__title{

        color: #ab79d6;
    }

    .menu_bottoms_title{

        margin-left: 65%;
        font-weight: bold;
        font-size: larger;
    }

    .sub_menu_bottoms_title{

        margin-right: 50px;
        color: #00bbcb;

    }

    /*Sección Menu*/

    .title__bio{

        color: #ab79d6;

    }

    .title__subsection{

        color: #00bbcb;
    }


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}